body {
  background-color: #3f7fe080;
  position: relative;
  margin: 0px;
}

.portfolio-header {
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  height: 80px;
  background-color: #3f7fe0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 20px;
  width: min-width;
  height: 100%;
  width: 40%;
}

.header-left > p {
  font-family: "Merriweather Sans", sans-serif;
  color: white;
  font-size: 24px;
  font-weight: 600;
}

.header-right {
  display: flex;
  justify-content: flex-end;
  margin-right: 20px;
  align-items: center;
  width: 40%;
  height: 100%;
}

.header-min {
  width: min-content;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center
}

.header-block {
  font-family: "Merriweather Sans", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 100px;
}

.header-block > a {
  color: white;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
}

.portfolio-body {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
}

.portfolio-summary {
  width: 100vw;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner-summary {
  height: 85%;
  width: 85%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.summary-photo {
  height: 100%;
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.summary-photo > img {
  height: 100%;
  width: auto;
  border-radius: 50%;
  box-shadow: white 0px 0px 16px 2px;
}

.summary-description {
  height: 100%;
  width: 57%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.summary-description > p {
  font-size: 22px;
  color: white;
  font-family: "Merriweather Sans", sans-serif;
  font-weight: 600;
}

.portfolio-works {
  width: 100vw;
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner-works {
  height: 85%;
  width: 85%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
}

.work {
  width: min-content;
  height: min-content;
  max-width: 100%;
  max-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  box-shadow: white 0px 0px 5px 1px;
  margin: 10px;
  object-fit: contain;
}

.works > img {
  max-width: 100%;
  max-height: 100%;
  height: auto;
  border-radius: 8px;
  object-fit: contain;
}

.contact-me {
  width: 100vw;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 30px;
}

.contact-me > p {
  font-size: 20px;
  color: #3b3b3b;
  font-weight: 600;
  font-family: "Merriweather Sans", sans-serif;
}

.portfolio-footer {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 40px;
  background-color: #3f7fe0;
}
